html,body{
    height:100%;
    width:100%;
}
.baap{
    height:530px;
    width:400px;
    background-color: rgb(240, 240, 234);
    margin-left:40vw;
}
.heading{
    background-color: azure;
    text-align: center;
}
.container{
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    margin:8px 0;
}
.input{
    background-color: rgb(48, 34, 16);
    color: aliceblue;
    margin:0;
    font-size:22px;
    padding: 20px 0px;
    border : 2px solid black;
    border-radius: 5px;
}
.btn{
    background-color: aliceblue;
    padding:20px;
    width:62px;
    margin:0 3px;
    border:2px solid black;
    border-radius:9px;
    cursor: pointer;
}
.yes{
    background-color: rgb(235, 214, 175);
}
.yes1{
    background-color: rgb(200, 166, 124);
}